<% if flash.any? %>
  <div class="d-flex justify-content-end | fixed-top | mt-5 py-2 ">
    <% if notice.present? %>
      <div class="alert alert-success alert-dismissible | col-12 col-md-6 col-lg-4 | mb-0 | fade show" role="alert">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-danger alert-dismissible | col-12 col-md-6 col-lg-4 | mb-0 | fade show" role="alert">
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
<% end %>